{% extends "accuiel/base.html" %}

{% block content %}
<h2 class="mt-4">Liste des Locations</h2>
<table class="table mt-2 table-striped">
    <thead>
        <tr>
            <th>Locataire</th>
            <th>Chambre</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for location in locations %}
        <tr>
            <td>{{ location.locataire }}</td>
            <td>{{ location.chambre.nom }}</td>
            <td>{{ location.date_debut }}</td>
            <td>{{ location.date_fin|default:"N/A" }}</td>
            <td>
                {% comment %} <a href="{% url 'location_detail' location.pk %}" class="btn btn-primary btn-sm">Voir</a> {% endcomment %}
                <a href="{% url 'modifier_location' location.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                <a href="{% url 'supprimer_location' location.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% comment %} <a href="{% url 'creer_location' %}" class="btn btn-success">Ajouter une Location</a> {% endcomment %}
{% endblock %}