<ul>
    <li>
        <a href="{% url 'ville_list' %}">
            <i class="fas fa-city"></i>Villes
        </a>
    </li>
    <li>
        <a href="{% url 'maison_liste' %}">
            <i class="fas fa-home"></i>Maisons
        </a>
    </li>
    <li>
        <a href="{% url 'Quatiers_list' %}">
            <i class="fas fa-map-marker-alt"></i>Quartiers
        </a>
    </li>
    <li>
        <a href="{% url 'liste_typechambres' %}">
            <i class="fas fa-bed"></i>Types de chambre
        </a>
    </li>
    <li>
        <a href="{% url 'liste_chambres' %}">
            <i class="fas fa-door-open"></i>Chambres
        </a>
    </li>
    <li>
        <a href="{% url 'liste_proprietaire' %}">
            <i class="fas fa-user-tie"></i>Propriétaires
        </a>
    </li>
    <li>
        <a href="{% url 'liste_locations' %}">
            <i class="fas fa-key"></i>Locations
        </a>
    </li>
    <li>
        <a href="{% url 'liste_paiements' %}">
            <i class="fas fa-money-bill-wave"></i>Paiements
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-cog"></i>Paramètres
        </a>
    </li>
    <li>
        <a href="#" class="text-danger">
            <i class="fas fa-sign-out-alt"></i>Déconnexion
        </a>
    </li>
</ul>
</div>