{% extends "accuie/Base.html" %}

{% block title %}
    Détails du Propriétaire
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Détails du Propriétaire</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Nom :</strong> {{ proprietaire.nom }}</li>
        <li class="list-group-item"><strong>Prénom :</strong> {{ proprietaire.prenom }}</li>
        <li class="list-group-item"><strong>Email :</strong> {{ proprietaire.email }}</li>
        <li class="list-group-item"><strong>Téléphone :</strong> {{ proprietaire.telephone }}</li>
        <li class="list-group-item"><strong>Adresse :</strong> {{ proprietaire.adresse }}</li>
        <li class="list-group-item"><strong>Sexe :</strong> {{ proprietaire.sexe }}</li>
    </ul>
    <a href="{% url 'proprietaire_list' %}" class="mt-3 btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}