
{% extends "accuiel/base.html" %}

{% block content %}
    <!-- Contenu principal -->
    <main class="main-content">
        <header>
            <h1>Vue d'ensemble</h1>
        </header>

        <!-- Grille pour les widgets -->
        <section class="widgets-grid">
            <div class="card">
                <h3>Ventes du jour</h3>
                <p class="stat">1,250 €</p>
                <span class="trend">+5% vs hier</span>
            </div>
            <div class="card">
                <h3>Nouveaux Inscrits</h3>
                <p class="stat">84</p>
                <span class="trend">+12% vs semaine passée</span>
            </div>
            <div class="card">
                <h3>Taux de Conversion</h3>
                <p class="stat">3.4%</p>
                <span class="trend-down">-0.2% vs hier</span>
            </div>
            <div class="card">
                <h3>Visiteurs Actifs</h3>
                <p class="stat">2,305</p>
                <span class="trend">En temps réel</span>
            </div>
        </section>
    </main>
   
{% endblock %}


{% comment %} {% extends "base.html" %}

{% block title %}
    Tableau de Bord Administrateur
{% endblock %}

{% block header %}
    Tableau de Bord Administrateur
{% endblock %}

{% block content %}
    <h2>Bienvenue, {{ user.username }} !</h2>
    <h2>{{ user.username }}</h2>
    <p>Voici la section pour afficher des statistiques spécifiques au tableau de bord.</p>
    <!-- Ajoutez ici le contenu spécifique au tableau de bord de l'administrateur -->
{% endblock %} {% endcomment %}


