{% extends "accuiel/Base.html" %}
{% block content %}
{% comment %} <div class="container mt-4">
    <h2>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} une Chambre</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
        {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-success">Ajouter</button>
        <a href="{% url 'chambre_list' %}">Annuler</a>
    </form>
</div> {% endcomment %}


<div class="max-w-md p-6 mx-auto mt-10 rounded-lg shadow-md bg-bla">
    <h1 class="mb-5 text-2xl font-bold">Ajouter une Chambre</h1>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Styled button with Tailwind CSS -->
        <button type="submit" class="px-4 py-2 mt-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">
            Enregistrer
        </button>
    </form>
</div>

{% endblock %}