<h2>Chambre {{ chambre.nom }}</h2>
<p>{{ chambre.description }}</p>
<p>Loyer Mensuel: {{ chambre.loyer_mensuel }} €</p>
<img src="{{ chambre.image.url }}" alt="Image de {{ chambre.nom }}">
<br>
<a href="{% url 'chambre_modifier' chambre.pk %}">Modifier</a>
<a href="{% url 'chambre_supprimer' chambre.pk %}">Supprimer</a>
<a href="{% url 'chambre_list' %}">Retour à la liste</a>


{% extends "accuiel/Base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Ajouter une nouvelle ville</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
{% endblock %}