{% extends "accuiel/Base.html" %}

{% block title %}
    Liste des Villes
{% endblock %}

{% block header %}
    Liste des Villes
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Liste des Villes</h2>

    <!-- Bouton Ajouter -->
    <div class="mb-3">
        <a href="{% url 'add_ville' %}" class="btn btn-success">Ajouter une ville</a>
        {% comment %} <a href="#" class="btn btn-success">Ajouter une ville</a> {% endcomment %}
    </div>

    <!-- Formulaire de Recherche -->
    <form method="get" class="form-inline mb-4">
        <div class="form-group mx-sm-3 mb-2">
            {{ form.recherche.label_tag }}
            {% comment %} {{ form.recherche|add_class:"form-control mx-sm-3" }} {% endcomment %}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
    </form>

    <!-- Tableau des Villes -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if villes %}
                    {% for ville in villes %}
                        <tr>
                            <td>{{ ville.nom }}</td>
                            <td>{{ ville.description }}</td>
                            <td>
                                {% comment %} {% comment %} {% comment %} {% comment %} {% comment %} {% comment %} {% comment %} {% comment %} <a href="{% url 'villes:edit' ville.id %}" class="btn btn-primary btn-sm">Modifier</a>
                                <a href="" class="btn btn-danger btn-sm">Supprimer</a> {% endcomment %}

                                <a href="{% url 'edit_ville' ville.id %}" class="btn btn-primary btn-sm">Modifier</a>


                                





                                <a href="{% url 'delete_ville' ville.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Aucune ville trouvée.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}