{% extends "accuiel/Base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Liste des Locataires</h2>
    <table class="table mt-4 table-striped">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Type d'utilisateur</th> <!-- Nouvelle colonne -->
            </tr>
        </thead>
        <tbody>
        {% if utilisateurs %}
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>
                        {% comment %} <a href="{% url 'creer_location' utilisateur.id %}">
                            {{ utilisateur.username }}
                        </a> {% endcomment %}
                    </td>
                    <td>{{ utilisateur.username }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.tel|default:"Non renseigné" }}</td>
                    <td>{{ utilisateur.type_utilisateur.nom|default:"Non spécifié" }}</td> <!-- Affichage du type -->
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucun locataire trouvé.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}