{% extends "accuiel/Base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Liste des Utilisateurs pour la Chambre</h2>
    <table class="table mt-4 table-striped">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
        {% if utilisateurs %}
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.username }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.tel|default:"Non renseigné" }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun utilisateur trouvé pour cette chambre.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}